In [3]:
import pandas as pd

kas = pd.read_csv('kaspa_history.csv')
kas

,time_open,open,high,low,close,volume,quote_volume,time_close
0,1664290800000,0.001500,0.005500,0.000500,0.004800,10849882.63,55373.625015,1664290860000
1,1664290860000,0.004800,0.004999,0.004304,0.004599,4756567.04,22588.744778,1664290920000
2,1664290920000,0.004599,0.004600,0.003800,0.004380,4130337.74,17664.424025,1664290980000
3,1664290980000,0.004380,0.004727,0.004380,0.004584,3346606.50,15494.468774,1664291040000
4,1664291040000,0.004584,0.004690,0.004501,0.004558,507924.77,2362.421476,1664291100000
...,...,...,...,...,...,...,...,...
979451,1723058040000,0.154448,0.154448,0.153909,0.153909,13247.07,2041.896056,1723058100000
979452,1723058100000,0.153909,0.154537,0.153744,0.154261,94966.26,14632.611086,1723058160000
979453,1723058160000,0.154261,0.154314,0.153874,0.153874,54577.60,8406.170228,1723058220000
979454,1723058220000,0.153874,0.153978,0.153531,0.153745,140059.44,21533.142650,1723058280000
979455,1723058280000,0.153745,0.154149,0.153745,0.153802,59730.07,9195.122942,1723058340000

In [4]:
kas = kas.drop_duplicates()
kas = kas.sort_values(by=['time_open'])
kas

,time_open,open,high,low,close,volume,quote_volume,time_close
0,1664290800000,0.001500,0.005500,0.000500,0.004800,10849882.63,55373.625015,1664290860000
1,1664290860000,0.004800,0.004999,0.004304,0.004599,4756567.04,22588.744778,1664290920000
2,1664290920000,0.004599,0.004600,0.003800,0.004380,4130337.74,17664.424025,1664290980000
3,1664290980000,0.004380,0.004727,0.004380,0.004584,3346606.50,15494.468774,1664291040000
4,1664291040000,0.004584,0.004690,0.004501,0.004558,507924.77,2362.421476,1664291100000
...,...,...,...,...,...,...,...,...
979451,1723058040000,0.154448,0.154448,0.153909,0.153909,13247.07,2041.896056,1723058100000
979452,1723058100000,0.153909,0.154537,0.153744,0.154261,94966.26,14632.611086,1723058160000
979453,1723058160000,0.154261,0.154314,0.153874,0.153874,54577.60,8406.170228,1723058220000
979454,1723058220000,0.153874,0.153978,0.153531,0.153745,140059.44,21533.142650,1723058280000
979455,1723058280000,0.153745,0.154149,0.153745,0.153802,59730.07,9195.122942,1723058340000

In [5]:
kas.to_csv('kaspa_history.csv')